* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #242424;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.snake-field {
  display: grid;
  width: 100%;
  height: 100%;
}

.snake-field-row {
  width: 100%;
  display: flex;
}

.snake-field-cell {
  flex: 1;
}

.snake-field-row:nth-child(even) .snake-field-cell:nth-child(odd),
.snake-field-row:nth-child(odd) .snake-field-cell:nth-child(even) {
  background-color: burlywood;
}

.snake-field-row:nth-child(even) .snake-field-cell:nth-child(even),
.snake-field-row:nth-child(odd) .snake-field-cell:nth-child(odd) {
  background-color: darkkhaki;
}


.snake-part {
  position: absolute;
  transform: translate(-50%, -50%);
  width: var(--snake-part-sizing, 40px);
  height: var(--snake-part-sizing, 40px);
}

.snake-head {
  background-color: brown;
}