* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #242424;
}

#app {
  position: relative;

  --snake-part-sizing: 40px;
}

.snake-part {
  position: absolute;
  transform: translate(-50%, -50%);
  width: var(--snake-part-sizing, 40px);
  height: var(--snake-part-sizing, 40px);
}

.snake-head {
  background-color: brown;
}