* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #242424;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.snake-field {
  display: grid;
  width: 100%;
  height: 100%;
}

.snake-field-row {
  width: 100%;
  display: flex;
}

.snake-field-cell {
  flex: 1;
}

.snake-field-row:nth-child(even) .snake-field-cell:nth-child(odd),
.snake-field-row:nth-child(odd) .snake-field-cell:nth-child(even) {
  background-color: burlywood;
}

.snake-field-row:nth-child(even) .snake-field-cell:nth-child(even),
.snake-field-row:nth-child(odd) .snake-field-cell:nth-child(odd) {
  background-color: darkkhaki;
}

.snake-part {
  position: absolute;
  top: 0;
  left: 0;

  width: var(--snake-part-sizing, 40px);
  height: var(--snake-part-sizing, 40px);

  transform: translate(calc(var(--snake-part-x-position) * var(--snake-movement-step-x)), calc(var(--snake-part-y-position) * var(--snake-movement-step-y)));

  transition: transform .2s;

  z-index: 1;
}

.snake-head {
  background-color: brown;
}

.snake-tail {
  background-color: chocolate;
}